In [12]:
#import libraries 
import numpy as np
import pandas as pd

In [23]:
#import Data por industria
file= 'Dataframe_Exportaciones_mensuales_version2.csv'
datos=pd.read_csv(file,
                       header=0,
                       index_col=0,
                       sep=',',
                       parse_dates=False,
                       skip_blank_lines=True,
                 encoding='latin-1')
datos.iloc[:,:]

,Pais_comprador,Industria,Año,Mes,Monto
0,América Latina,Industrias Manufactureras,2000,Enero,45624927.0
1,América Latina,Industrias Manufactureras,2000,Febrero,38402717.0
2,América Latina,Industrias Manufactureras,2000,Marzo,45714515.0
3,América Latina,Industrias Manufactureras,2000,Abril,53314410.0
4,América Latina,Industrias Manufactureras,2000,Mayo,68750896.0
5,América Latina,Industrias Manufactureras,2000,Junio,67485328.0
6,América Latina,Industrias Manufactureras,2000,Julio,62364404.0
7,América Latina,Industrias Manufactureras,2000,Agosto,60669012.0
8,América Latina,Industrias Manufactureras,2000,Septiembre,65432673.0
9,América Latina,Industrias Manufactureras,2000,Octubre,55449279.0
10,América Latina,Industrias Manufactureras,2000,Noviembre,64030031.0
11,América Latina,Industrias Manufactureras,2000,Diciembre,69420372.0
12,América Latina,Industrias Manufactureras,2001,Enero,60262319.0
13,América Latina,Industrias Manufactureras,2001,Febrero,67522980.0
14,América Latina,Industrias Manufactureras,2001,Marzo,86290892.0
15,América Latina,Industrias Manufactureras,2001,Abril,77937911.0
16,América Latina,Industrias Manufactureras,2001,Mayo,85108588.0
17,América Latina,Industrias Manufactureras,2001,Junio,73835368.0
18,América Latina,Industrias Manufactureras,2001,Julio,78546337.0
19,América Latina,Industrias Manufactureras,2001,Agosto,69221493.0
20,América Latina,Industrias Manufactureras,2001,Septiembre,84228644.0
21,América Latina,Industrias Manufactureras,2001,Octubre,82759261.0
22,América Latina,Industrias Manufactureras,2001,Noviembre,71924711.0
23,América Latina,Industrias Manufactureras,2001,Diciembre,70730651.0
24,América Latina,Industrias Manufactureras,2002,Enero,62023950.0
25,América Latina,Industrias Manufactureras,2002,Febrero,62459404.0
26,América Latina,Industrias Manufactureras,2002,Marzo,73626985.0
27,América Latina,Industrias Manufactureras,2002,Abril,69694547.0
28,América Latina,Industrias Manufactureras,2002,Mayo,70193502.0
29,América Latina,Industrias Manufactureras,2002,Junio,65390258.0
...,...,...,...,...,...
7355,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Febrero,0.0
7356,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Marzo,0.0
7357,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Abril,0.0
7358,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Mayo,0.0
7359,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Junio,0.0
7360,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Julio,0.0
7361,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Agosto,0.0
7362,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Septiembre,0.0
7363,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Octubre,0.0
7364,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Noviembre,0.0
7365,otros,"Ganadería, Apicultura, Caza, Pesca",2015,Diciembre,0.0
7366,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Enero,0.0
7367,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Febrero,0.0
7368,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Marzo,0.0
7369,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Abril,0.0
7370,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Mayo,0.0
7371,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Junio,0.0
7372,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Julio,0.0
7373,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Agosto,0.0
7374,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Septiembre,0.0
7375,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Octubre,0.0
7376,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Noviembre,0.0
7377,otros,"Ganadería, Apicultura, Caza, Pesca",2016,Diciembre,0.0
7378,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Enero,0.0
7379,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Febrero,0.0
7380,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Marzo,0.0
7381,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Abril,0.0
7382,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Mayo,0.0
7383,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Junio,0.0
7384,otros,"Ganadería, Apicultura, Caza, Pesca",2017,Julio,0.0

In [24]:
#modificar año a float, y mes a números, hacer query para quitar "test_set"
datos['Año']=datos['Año'].values.astype(np.float)
datos.Mes=datos.Mes.map({'Enero':1,'Febrero':2,'Marzo':3,'Abril':4,'Mayo':5,'Junio':6,'Julio':7,'Agosto':8,'Septiembre':9
                               ,'Octubre':10,'Noviembre':11,'Diciembre':12})
datos=datos.query('(Año<2016) or (Año==2016 & Mes<8)').reset_index(drop=True)

In [25]:
datos

,Pais_comprador,Industria,Año,Mes,Monto
0,América Latina,Industrias Manufactureras,2000.0,1,45624927.0
1,América Latina,Industrias Manufactureras,2000.0,2,38402717.0
2,América Latina,Industrias Manufactureras,2000.0,3,45714515.0
3,América Latina,Industrias Manufactureras,2000.0,4,53314410.0
4,América Latina,Industrias Manufactureras,2000.0,5,68750896.0
5,América Latina,Industrias Manufactureras,2000.0,6,67485328.0
6,América Latina,Industrias Manufactureras,2000.0,7,62364404.0
7,América Latina,Industrias Manufactureras,2000.0,8,60669012.0
8,América Latina,Industrias Manufactureras,2000.0,9,65432673.0
9,América Latina,Industrias Manufactureras,2000.0,10,55449279.0
10,América Latina,Industrias Manufactureras,2000.0,11,64030031.0
11,América Latina,Industrias Manufactureras,2000.0,12,69420372.0
12,América Latina,Industrias Manufactureras,2001.0,1,60262319.0
13,América Latina,Industrias Manufactureras,2001.0,2,67522980.0
14,América Latina,Industrias Manufactureras,2001.0,3,86290892.0
15,América Latina,Industrias Manufactureras,2001.0,4,77937911.0
16,América Latina,Industrias Manufactureras,2001.0,5,85108588.0
17,América Latina,Industrias Manufactureras,2001.0,6,73835368.0
18,América Latina,Industrias Manufactureras,2001.0,7,78546337.0
19,América Latina,Industrias Manufactureras,2001.0,8,69221493.0
20,América Latina,Industrias Manufactureras,2001.0,9,84228644.0
21,América Latina,Industrias Manufactureras,2001.0,10,82759261.0
22,América Latina,Industrias Manufactureras,2001.0,11,71924711.0
23,América Latina,Industrias Manufactureras,2001.0,12,70730651.0
24,América Latina,Industrias Manufactureras,2002.0,1,62023950.0
25,América Latina,Industrias Manufactureras,2002.0,2,62459404.0
26,América Latina,Industrias Manufactureras,2002.0,3,73626985.0
27,América Latina,Industrias Manufactureras,2002.0,4,69694547.0
28,América Latina,Industrias Manufactureras,2002.0,5,70193502.0
29,América Latina,Industrias Manufactureras,2002.0,6,65390258.0
...,...,...,...,...,...
6935,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,2,0.0
6936,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,3,0.0
6937,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,4,0.0
6938,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,5,0.0
6939,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,6,0.0
6940,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,7,0.0
6941,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,8,0.0
6942,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,9,0.0
6943,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,10,0.0
6944,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,11,0.0
6945,otros,"Ganadería, Apicultura, Caza, Pesca",2014.0,12,0.0
6946,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,1,0.0
6947,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,2,0.0
6948,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,3,0.0
6949,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,4,0.0
6950,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,5,0.0
6951,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,6,0.0
6952,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,7,0.0
6953,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,8,0.0
6954,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,9,0.0
6955,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,10,0.0
6956,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,11,0.0
6957,otros,"Ganadería, Apicultura, Caza, Pesca",2015.0,12,0.0
6958,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,1,0.0
6959,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,2,0.0
6960,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,3,0.0
6961,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,4,0.0
6962,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,5,0.0
6963,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,6,0.0
6964,otros,"Ganadería, Apicultura, Caza, Pesca",2016.0,7,0.0

In [26]:
#para proporciones 1, con sumas mensuales de todos los años. sacas el monto mensual total y de ahí sacas proporciones:
primer_propo=datos.groupby(['Mes'],as_index=False,sort=False)['Monto'].sum()
total_exp=sum(primer_propo.Monto)
propociones_1=primer_propo.Monto.values/total_exp
df_propor_1=pd.DataFrame(propociones_1,columns=['proporciones_mensuales'],index=range(0,12))
df_propor_1=df_propor_1#.join(primer_propo.Mes)
df_propor_1

    proporciones_mensuales
0                 0.076938
1                 0.078351
2                 0.087281
3                 0.087135
4                 0.088418
5                 0.088162
6                 0.087518
7                 0.079812
8                 0.081313
9                 0.082448
10                0.079762
11                0.082861

In [27]:
#para proporciones 2, promedio de las proporciones de cada año:

segund_propo=datos.groupby(['Año','Mes'],as_index=False,sort=False).sum()

año_2001=segund_propo.query('Año==2001').reset_index(drop=True)
total_2001=sum(año_2001.Monto)
propo_2001=año_2001.Monto.values/total_2001
df_propo_2001=pd.DataFrame(propo_2001,columns=['Proporciones1'])

año_2002=segund_propo.query('Año==2002').reset_index(drop=True)
total_2002=sum(año_2002.Monto)
propo_2002=año_2002.Monto.values/total_2002
df_propo_2002=pd.DataFrame(propo_2002,columns=['Proporciones2'])

año_2003=segund_propo.query('Año==2003').reset_index(drop=True)
total_2003=sum(año_2003.Monto)
propo_2003=año_2003.Monto.values/total_2003
df_propo_2003=pd.DataFrame(propo_2003,columns=['Proporciones3'])

año_2004=segund_propo.query('Año==2004').reset_index(drop=True)
total_2004=sum(año_2004.Monto)
propo_2004=año_2004.Monto.values/total_2004
df_propo_2004=pd.DataFrame(propo_2004,columns=['Proporciones4'])

año_2005=segund_propo.query('Año==2005').reset_index(drop=True)
total_2005=sum(año_2005.Monto)
propo_2005=año_2005.Monto.values/total_2005
df_propo_2005=pd.DataFrame(propo_2005,columns=['Proporciones5'])

año_2006=segund_propo.query('Año==2006').reset_index(drop=True)
total_2006=sum(año_2006.Monto)
propo_2006=año_2006.Monto.values/total_2006
df_propo_2006=pd.DataFrame(propo_2006,columns=['Proporciones6'])

año_2007=segund_propo.query('Año==2007').reset_index(drop=True)
total_2007=sum(año_2007.Monto)
propo_2007=año_2007.Monto.values/total_2007
df_propo_2007=pd.DataFrame(propo_2007,columns=['Proporciones7'])

año_2008=segund_propo.query('Año==2008').reset_index(drop=True)
total_2008=sum(año_2008.Monto)
propo_2008=año_2008.Monto.values/total_2008
df_propo_2008=pd.DataFrame(propo_2008,columns=['Proporciones8'])

año_2009=segund_propo.query('Año==2009').reset_index(drop=True)
total_2009=sum(año_2009.Monto)
propo_2009=año_2009.Monto.values/total_2009
df_propo_2009=pd.DataFrame(propo_2009,columns=['Proporciones9'])

año_2010=segund_propo.query('Año==2010').reset_index(drop=True)
total_2010=sum(año_2010.Monto)
propo_2010=año_2010.Monto.values/total_2010
df_propo_2010=pd.DataFrame(propo_2010,columns=['Proporciones10'])

año_2011=segund_propo.query('Año==2011').reset_index(drop=True)
total_2011=sum(año_2011.Monto)
propo_2011=año_2011.Monto.values/total_2011
df_propo_2011=pd.DataFrame(propo_2011,columns=['Proporciones11'])

año_2012=segund_propo.query('Año==2012').reset_index(drop=True)
total_2012=sum(año_2012.Monto)
propo_2012=año_2012.Monto.values/total_2012
df_propo_2012=pd.DataFrame(propo_2012,columns=['Proporciones12'])

año_2013=segund_propo.query('Año==2013').reset_index(drop=True)
total_2013=sum(año_2013.Monto)
propo_2013=año_2013.Monto.values/total_2013
df_propo_2013=pd.DataFrame(propo_2013,columns=['Proporciones13'])

año_2014=segund_propo.query('Año==2014').reset_index(drop=True)
total_2014=sum(año_2014.Monto)
propo_2014=año_2014.Monto.values/total_2014
df_propo_2014=pd.DataFrame(propo_2014,columns=['Proporciones14'])

año_2015=segund_propo.query('Año==2015').reset_index(drop=True)
total_2015=sum(año_2015.Monto)
propo_2015=año_2015.Monto.values/total_2015
df_propo_2015=pd.DataFrame(propo_2015,columns=['Proporciones15'])

In [28]:
df_propo2_pen=df_propo_2001.join(df_propo_2002).join(df_propo_2003).join(df_propo_2004).join(df_propo_2005).join(df_propo_2006)
df_propo2_pen=df_propo2_pen.join(df_propo_2007).join(df_propo_2008).join(df_propo_2009).join(df_propo_2010).join(df_propo_2011)
df_propo2_pen=df_propo2_pen.join(df_propo_2012).join(df_propo_2013).join(df_propo_2014).join(df_propo_2015)

In [29]:
df_propor_2=pd.DataFrame(df_propo2_pen.mean(axis=1),columns=['proporciones_mensuales'])

In [30]:
df_propor_2

    proporciones_mensuales
0                 0.073792
1                 0.075542
2                 0.084604
3                 0.082880
4                 0.085013
5                 0.084930
6                 0.083693
7                 0.084204
8                 0.085693
9                 0.087220
10                0.085228
11                0.087199

In [31]:
#convertir Dataframes  a CSV:

df_propor_1.to_csv('proporciones1.csv')
df_propor_2.to_csv('proporciones2.csv')

In [13]:
#import Data por industria
file= 'Dataframe_Importaciones_mensuales_version2.csv'
datos=pd.read_csv(file,
                       header=0,
                       index_col=0,
                       sep=',',
                       parse_dates=False,
                       skip_blank_lines=True,
                 encoding='latin-1')
datos.iloc[:,:]

,Pais_vendedor,industria,Año,Mes,Monto
0,América Latina,Industrias Manufactureras,2000,Enero,30303804.0
1,América Latina,Industrias Manufactureras,2000,Febrero,21215828.0
2,América Latina,Industrias Manufactureras,2000,Marzo,31298113.0
3,América Latina,Industrias Manufactureras,2000,Abril,33358374.0
4,América Latina,Industrias Manufactureras,2000,Mayo,67373766.0
5,América Latina,Industrias Manufactureras,2000,Junio,58354363.0
6,América Latina,Industrias Manufactureras,2000,Julio,47566573.0
7,América Latina,Industrias Manufactureras,2000,Agosto,51311091.0
8,América Latina,Industrias Manufactureras,2000,Septiembre,36400806.0
9,América Latina,Industrias Manufactureras,2000,Octubre,50265853.0
10,América Latina,Industrias Manufactureras,2000,Noviembre,59435550.0
11,América Latina,Industrias Manufactureras,2000,Diciembre,68588145.0
12,América Latina,Industrias Manufactureras,2001,Enero,57938134.0
13,América Latina,Industrias Manufactureras,2001,Febrero,46262851.0
14,América Latina,Industrias Manufactureras,2001,Marzo,48055653.0
15,América Latina,Industrias Manufactureras,2001,Abril,49784064.0
16,América Latina,Industrias Manufactureras,2001,Mayo,45214985.0
17,América Latina,Industrias Manufactureras,2001,Junio,49105659.0
18,América Latina,Industrias Manufactureras,2001,Julio,45589735.0
19,América Latina,Industrias Manufactureras,2001,Agosto,49855900.0
20,América Latina,Industrias Manufactureras,2001,Septiembre,38361331.0
21,América Latina,Industrias Manufactureras,2001,Octubre,57897392.0
22,América Latina,Industrias Manufactureras,2001,Noviembre,65220179.0
23,América Latina,Industrias Manufactureras,2001,Diciembre,64940239.0
24,América Latina,Industrias Manufactureras,2002,Enero,94163049.0
25,América Latina,Industrias Manufactureras,2002,Febrero,99417244.0
26,América Latina,Industrias Manufactureras,2002,Marzo,88075618.0
27,América Latina,Industrias Manufactureras,2002,Abril,110902607.0
28,América Latina,Industrias Manufactureras,2002,Mayo,104016188.0
29,América Latina,Industrias Manufactureras,2002,Junio,97133436.0
...,...,...,...,...,...
7355,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Febrero,0.0
7356,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Marzo,0.0
7357,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Abril,0.0
7358,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Mayo,0.0
7359,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Junio,0.0
7360,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Julio,0.0
7361,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Agosto,0.0
7362,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Septiembre,0.0
7363,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Octubre,0.0
7364,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Noviembre,0.0
7365,otro,"Ganadería, Apicultura, Caza, Pesca",2015,Diciembre,0.0
7366,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Enero,0.0
7367,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Febrero,0.0
7368,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Marzo,0.0
7369,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Abril,0.0
7370,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Mayo,0.0
7371,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Junio,0.0
7372,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Julio,0.0
7373,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Agosto,0.0
7374,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Septiembre,0.0
7375,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Octubre,0.0
7376,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Noviembre,0.0
7377,otro,"Ganadería, Apicultura, Caza, Pesca",2016,Diciembre,0.0
7378,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Enero,0.0
7379,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Febrero,0.0
7380,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Marzo,0.0
7381,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Abril,0.0
7382,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Mayo,0.0
7383,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Junio,0.0
7384,otro,"Ganadería, Apicultura, Caza, Pesca",2017,Julio,0.0

In [14]:
#modificar año a float, y mes a números, hacer query para quitar "test_set"
datos['Año']=datos['Año'].values.astype(np.float)
datos.Mes=datos.Mes.map({'Enero':1,'Febrero':2,'Marzo':3,'Abril':4,'Mayo':5,'Junio':6,'Julio':7,'Agosto':8,'Septiembre':9
                               ,'Octubre':10,'Noviembre':11,'Diciembre':12})
datos=datos.query('(Año<2016) or (Año==2016 & Mes<8)').reset_index(drop=True)

In [15]:
datos

,Pais_vendedor,industria,Año,Mes,Monto
0,América Latina,Industrias Manufactureras,2000.0,1,30303804.0
1,América Latina,Industrias Manufactureras,2000.0,2,21215828.0
2,América Latina,Industrias Manufactureras,2000.0,3,31298113.0
3,América Latina,Industrias Manufactureras,2000.0,4,33358374.0
4,América Latina,Industrias Manufactureras,2000.0,5,67373766.0
5,América Latina,Industrias Manufactureras,2000.0,6,58354363.0
6,América Latina,Industrias Manufactureras,2000.0,7,47566573.0
7,América Latina,Industrias Manufactureras,2000.0,8,51311091.0
8,América Latina,Industrias Manufactureras,2000.0,9,36400806.0
9,América Latina,Industrias Manufactureras,2000.0,10,50265853.0
10,América Latina,Industrias Manufactureras,2000.0,11,59435550.0
11,América Latina,Industrias Manufactureras,2000.0,12,68588145.0
12,América Latina,Industrias Manufactureras,2001.0,1,57938134.0
13,América Latina,Industrias Manufactureras,2001.0,2,46262851.0
14,América Latina,Industrias Manufactureras,2001.0,3,48055653.0
15,América Latina,Industrias Manufactureras,2001.0,4,49784064.0
16,América Latina,Industrias Manufactureras,2001.0,5,45214985.0
17,América Latina,Industrias Manufactureras,2001.0,6,49105659.0
18,América Latina,Industrias Manufactureras,2001.0,7,45589735.0
19,América Latina,Industrias Manufactureras,2001.0,8,49855900.0
20,América Latina,Industrias Manufactureras,2001.0,9,38361331.0
21,América Latina,Industrias Manufactureras,2001.0,10,57897392.0
22,América Latina,Industrias Manufactureras,2001.0,11,65220179.0
23,América Latina,Industrias Manufactureras,2001.0,12,64940239.0
24,América Latina,Industrias Manufactureras,2002.0,1,94163049.0
25,América Latina,Industrias Manufactureras,2002.0,2,99417244.0
26,América Latina,Industrias Manufactureras,2002.0,3,88075618.0
27,América Latina,Industrias Manufactureras,2002.0,4,110902607.0
28,América Latina,Industrias Manufactureras,2002.0,5,104016188.0
29,América Latina,Industrias Manufactureras,2002.0,6,97133436.0
...,...,...,...,...,...
6935,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,2,0.0
6936,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,3,0.0
6937,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,4,0.0
6938,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,5,0.0
6939,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,6,0.0
6940,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,7,0.0
6941,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,8,0.0
6942,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,9,0.0
6943,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,10,0.0
6944,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,11,0.0
6945,otro,"Ganadería, Apicultura, Caza, Pesca",2014.0,12,0.0
6946,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,1,0.0
6947,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,2,0.0
6948,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,3,0.0
6949,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,4,0.0
6950,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,5,0.0
6951,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,6,0.0
6952,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,7,0.0
6953,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,8,0.0
6954,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,9,0.0
6955,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,10,0.0
6956,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,11,0.0
6957,otro,"Ganadería, Apicultura, Caza, Pesca",2015.0,12,0.0
6958,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,1,0.0
6959,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,2,0.0
6960,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,3,0.0
6961,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,4,0.0
6962,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,5,0.0
6963,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,6,0.0
6964,otro,"Ganadería, Apicultura, Caza, Pesca",2016.0,7,0.0

In [16]:
#para proporciones 1, con sumas mensuales de todos los años. sacas el monto mensual total y de ahí sacas proporciones:
primer_propo=datos.groupby(['Mes'],as_index=False,sort=False)['Monto'].sum()
total_exp=sum(primer_propo.Monto)
propociones_1=primer_propo.Monto.values/total_exp
df_propor_1=pd.DataFrame(propociones_1,columns=['proporciones_mensuales'],index=range(0,12))
df_propor_1=df_propor_1#.join(primer_propo.Mes)
df_propor_1

    proporciones_mensuales
0                 0.078907
1                 0.077194
2                 0.084575
3                 0.083989
4                 0.087830
5                 0.086516
6                 0.088436
7                 0.084299
8                 0.079507
9                 0.085172
10                0.082802
11                0.080773

In [17]:
#para proporciones 2, promedio de las proporciones de cada año:

segund_propo=datos.groupby(['Año','Mes'],as_index=False,sort=False).sum()

año_2001=segund_propo.query('Año==2001').reset_index(drop=True)
total_2001=sum(año_2001.Monto)
propo_2001=año_2001.Monto.values/total_2001
df_propo_2001=pd.DataFrame(propo_2001,columns=['Proporciones1'])

año_2002=segund_propo.query('Año==2002').reset_index(drop=True)
total_2002=sum(año_2002.Monto)
propo_2002=año_2002.Monto.values/total_2002
df_propo_2002=pd.DataFrame(propo_2002,columns=['Proporciones2'])

año_2003=segund_propo.query('Año==2003').reset_index(drop=True)
total_2003=sum(año_2003.Monto)
propo_2003=año_2003.Monto.values/total_2003
df_propo_2003=pd.DataFrame(propo_2003,columns=['Proporciones3'])

año_2004=segund_propo.query('Año==2004').reset_index(drop=True)
total_2004=sum(año_2004.Monto)
propo_2004=año_2004.Monto.values/total_2004
df_propo_2004=pd.DataFrame(propo_2004,columns=['Proporciones4'])

año_2005=segund_propo.query('Año==2005').reset_index(drop=True)
total_2005=sum(año_2005.Monto)
propo_2005=año_2005.Monto.values/total_2005
df_propo_2005=pd.DataFrame(propo_2005,columns=['Proporciones5'])

año_2006=segund_propo.query('Año==2006').reset_index(drop=True)
total_2006=sum(año_2006.Monto)
propo_2006=año_2006.Monto.values/total_2006
df_propo_2006=pd.DataFrame(propo_2006,columns=['Proporciones6'])

año_2007=segund_propo.query('Año==2007').reset_index(drop=True)
total_2007=sum(año_2007.Monto)
propo_2007=año_2007.Monto.values/total_2007
df_propo_2007=pd.DataFrame(propo_2007,columns=['Proporciones7'])

año_2008=segund_propo.query('Año==2008').reset_index(drop=True)
total_2008=sum(año_2008.Monto)
propo_2008=año_2008.Monto.values/total_2008
df_propo_2008=pd.DataFrame(propo_2008,columns=['Proporciones8'])

año_2009=segund_propo.query('Año==2009').reset_index(drop=True)
total_2009=sum(año_2009.Monto)
propo_2009=año_2009.Monto.values/total_2009
df_propo_2009=pd.DataFrame(propo_2009,columns=['Proporciones9'])

año_2010=segund_propo.query('Año==2010').reset_index(drop=True)
total_2010=sum(año_2010.Monto)
propo_2010=año_2010.Monto.values/total_2010
df_propo_2010=pd.DataFrame(propo_2010,columns=['Proporciones10'])

año_2011=segund_propo.query('Año==2011').reset_index(drop=True)
total_2011=sum(año_2011.Monto)
propo_2011=año_2011.Monto.values/total_2011
df_propo_2011=pd.DataFrame(propo_2011,columns=['Proporciones11'])

año_2012=segund_propo.query('Año==2012').reset_index(drop=True)
total_2012=sum(año_2012.Monto)
propo_2012=año_2012.Monto.values/total_2012
df_propo_2012=pd.DataFrame(propo_2012,columns=['Proporciones12'])

año_2013=segund_propo.query('Año==2013').reset_index(drop=True)
total_2013=sum(año_2013.Monto)
propo_2013=año_2013.Monto.values/total_2013
df_propo_2013=pd.DataFrame(propo_2013,columns=['Proporciones13'])

año_2014=segund_propo.query('Año==2014').reset_index(drop=True)
total_2014=sum(año_2014.Monto)
propo_2014=año_2014.Monto.values/total_2014
df_propo_2014=pd.DataFrame(propo_2014,columns=['Proporciones14'])

año_2015=segund_propo.query('Año==2015').reset_index(drop=True)
total_2015=sum(año_2015.Monto)
propo_2015=año_2015.Monto.values/total_2015
df_propo_2015=pd.DataFrame(propo_2015,columns=['Proporciones15'])

In [18]:
df_propo2_pen=df_propo_2001.join(df_propo_2002).join(df_propo_2003).join(df_propo_2004).join(df_propo_2005).join(df_propo_2006)
df_propo2_pen=df_propo2_pen.join(df_propo_2007).join(df_propo_2008).join(df_propo_2009).join(df_propo_2010).join(df_propo_2011)
df_propo2_pen=df_propo2_pen.join(df_propo_2012).join(df_propo_2013).join(df_propo_2014).join(df_propo_2015)

In [19]:
df_propor_2=pd.DataFrame(df_propo2_pen.mean(axis=1),columns=['proporciones_mensuales'])

In [20]:
df_propor_2

    proporciones_mensuales
0                 0.076886
1                 0.073851
2                 0.081882
3                 0.079940
4                 0.084100
5                 0.082482
6                 0.084206
7                 0.088148
8                 0.083033
9                 0.090428
10                0.088656
11                0.086387

In [22]:
#convertir Dataframes  a CSV:

df_propor_1.to_csv('proporciones1imp.csv')
df_propor_2.to_csv('proporciones2imp.csv')